<script>
    var _lang_pic_downloaded = '<?= trans('snipi.uniquemediafinder::lang.flash.pic_downloaded') ?>',
        _lang_pic_error = '<?= trans('snipi.uniquemediafinder::lang.flash.pic_error') ?>';
</script>
<div class="control-tabs primary-tabs" data-control="tab">
    <ul class="nav nav-tabs">
    	<?php
    	if($this->vars['unsplash']['results']):
    	?>
        <li <?php if($this->vars['provider'] == 'unsplash'): ?>class="active"<?php endif; ?>><a href="#primaryTabOne">Unsplash</a></li>
        <?php
        endif;
        if($this->vars['pexels']['results']):
        ?>
        <li <?php if($this->vars['provider'] == 'pexels'): ?>class="active"<?php endif; ?>><a href="#primaryTabTwo">Pexels</a></li>
        <?php
        endif;
        if($this->vars['pixabay']['results']):
        ?>
        <li <?php if($this->vars['provider'] == 'pixabay'): ?>class="active"<?php endif; ?>><a href="#primaryTabThree">Pixabay</a></li>
        <?php
        endif;
        ?>
    </ul>
    <div class="tab-content">
    	<?php
    	if($this->vars['unsplash']['results']):
    	?>
        <div class="tab-pane <?php if($this->vars['provider'] == 'unsplash'): ?>active<?php endif; ?>">
            <div id="unsplash-list">
                <?= $this->makePartial('unsplash-list') ?>
            </div>
        </div>
        <?php
        endif;
        if($this->vars['pexels']['results']):
        ?>
        <div class="tab-pane <?php if($this->vars['provider'] == 'pexels'): ?>active<?php endif; ?>">
            <div id="pexels-list">
                <?= $this->makePartial('pexels-list') ?>
            </div>
        </div>
        <?php
        endif;
        if($this->vars['pixabay']['results']):
        ?>
        <div class="tab-pane <?php if($this->vars['provider'] == 'pixabay'): ?>active<?php endif; ?>">
            <div id="pixabay-list">
                <?= $this->makePartial('pixabay-list') ?>
            </div>
        </div>
        <?php
        endif;
        ?>
    </div>
</div>