<?php
use SNiPI\UniqueMediaFinder\Models\Settings;
?>
<div class="scoreboard">
    <div data-control="toolbar">

        <div class="scoreboard-item title-value">
            <h4><?= trans('snipi.uniquemediafinder::lang.photo.dimensions') ?></h4>
            <p><?= $this->vars['photo']['width'] ?> x <?= $this->vars['photo']['height'] ?>px</p>
        </div>
    </div>
    <div data-control="toolbar">

        <div class="scoreboard-item title-value">
            <h4><?= $this->vars['photo']['photographer'] ?></h4>
            <p class="oc-icon-user">
                <a href="<?= $this->vars['photo']['photographer_url']?>" target="_blank"><?= $this->vars['photo']['photographer'] ?></a>
            </p>
        </div>
        <div class="scoreboard-item title-value">
            <h4><?= trans('snipi.uniquemediafinder::lang.photo.download_photo') ?></h4>
            <a href="#" data-folder="<?= Settings::get('pexels_upload_folder','pexels') ?>" data-request-data="{qs: '<?= $this->vars['search'] ?>', folder: '<?= Settings::get('pexels_upload_folder','pexels') ?>', fileId:'<?= $this->vars['photo']['id'] ?>' ,path: '<?= $this->vars['photo']['src']['original'] ?>'}" data-request-loading="#loader" data-request-error="handlePicError(this)" data-request-success="pictureDownloaded(this)" data-request="onDownloadPhoto" title="<?= trans('snipi.uniquemediafinder::lang.buttons.download') ?>" data-toggle="tooltip" class="btn btn-default"><i class="icon-download"></i> <span><?= trans('snipi.uniquemediafinder::lang.buttons.download') ?> <small>(fodler: <?= Settings::get('pexels_upload_folder','pexels') ?>)</small></span></a>
        </div>
    </div>
    <h4>Sorry for content loss</h4>
    <p>I will apologize for this small amout of data for photos from Pexels.com, but, pexels API not provide more informations about photographer or photography as well.</p>
    <p>I will dig into it later, if there are some other endpoints, to get more informations for photos or authors.</p>

    
</div>