<?php
use SNiPI\UniqueMediaFinder\Models\Settings;
?>
<li data-type="media-item"
    tabindex="0"
    data-path="<?= $photo->src->original ?>"
    data-user="<?= $photo->photographer ?>" 
    data-id="<?= $photo->id ?>" 
    data-download="<?= $photo->src->original ?>"
    class="media-item"
    style="background-color:<?= $photo->avg_color ?>;background-image: url(<?= $photo->src->medium ?>);background-size:contain;background-position: center;background-repeat:no-repeat;"
>
	<div class="btn-group">
		<a data-control="popup" data-size="giant" data-z-index="2000" data-request-data="{path: '<?= $photo->src->large2x ?>'}" data-handler="onShowPhoto" href="javascript:;" title="<?= trans('snipi.uniquemediafinder::lang.buttons.look') ?>" data-toggle="tooltip" class="btn btn-default"><i class="icon-eye"></i></a>
		<a href="#" data-request-data="{qs: '<?= $this->vars['search'] ?>', folder: '<?= Settings::get('pexels_upload_folder','pexels') ?>', fileId:'<?= $photo->id ?>' ,path: '<?= $photo->src->original ?>'}" data-request="onDownloadPhoto" title="<?= trans('snipi.uniquemediafinder::lang.buttons.download') ?>" data-toggle="tooltip" class="btn btn-default"><i class="icon-download"></i></a>
	</div>
</li>
