<?php
use SNiPI\UniqueMediaFinder\Models\Settings;
?>
<div id="photoDetail">
    <button style="outline:none;opacity: 1;position: absolute; top:-15px;right:-15px;font-size:30px;background: #fff;border-radius:50%;width: 50px;height:50px;text-align:center;line-height: 50px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="layout">
    	<div class="layout-row">
    		<div class="layout-cell" id="photo-frame">
				<img src="<?= $this->vars['path'] ?>" style="max-width: 100%;"/>
			</div>
			<div class="layout-cell panel border-left">
				<?php
				Switch($this->vars['type']) {

					case 'unsplash':
					echo $this->makePartial('unsplash_details');
					break;

					case 'pexels':
					echo $this->makePartial('pexels_details');
					break;
				}
				?>			
			</div>
			
		</div>
		<div id="footer">
			<?= trans('snipi.uniquemediafinder::lang.photo.provided_by') ?> <?= trans('snipi.uniquemediafinder::lang.photo.provider_' . $this->vars['type']) ?> <?= trans('snipi.uniquemediafinder::lang.photo.royalty_free') ?>
		</div>
	</div>
</div>