<?php
use Snipi\UniqueMediaFinder\Models\Settings;
?>
<div class="layout-row">
	<div class="layout">
		<div class="layout-row min-size">
			<div class="panel padding-less border-bottom">
			    <div class="layout">
			        <div class="layout-cell">
			            <div class="layout-row" id="dsds">
			                <?= trans_choice('snipi.uniquemediafinder::lang.results.found', $this->vars['unsplash']['total']) ?> &#8222;<?= $this->vars['search'] ?>&#8223;
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
<div class="layout-row">
	<div class="layout">
		<div data-control="item-list">
			<ul class="media-list tiles">
			<?php 
			foreach($this->vars['unsplash']['photos'] as $photo) {
				echo $this->makePartial('unsplash_photo', ['photo' => $photo]);
			}
			?>
			</ul>
		</div>
	</div>
</div>
<div class="control-pagination">
    <span class="page-iteration">Displayed records: 1-<?= Settings::get('unsplash_per_page') ?> of <?= $this->vars['unsplash']['total'] ?></span>
    <a href="#" class="page-back" title="Previous page"></a><a href="#" class="page-next" title="Next page"></a>
</div>