<?php
use SNiPI\UniqueMediaFinder\Models\Settings;
?>
<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item title-value">
            <h4><?= trans('snipi.uniquemediafinder::lang.photo.downloads') ?></h4>
            <p class="oc-icon-download"><?= $this->vars['photo']['downloads'] ?></p>
            <p class="description"><?= trans('snipi.uniquemediafinder::lang.photo.views') ?>: <?= $this->vars['photo']['views'] ?></p>
        </div>

        <div class="scoreboard-item title-value">
            <h4><?= $this->vars['photo']['user']['username'] ?></h4>
            <p>
            	<img src="<?= $this->vars['photo']['user']['profile_image']['small'] ?>" />
            	<?= $this->vars['photo']['user']['name'] ?>
            </p>
            <p class="description"><?= trans('snipi.uniquemediafinder::lang.photo.updated') ?>: <?= date('d.m.Y H:i', strtotime($this->vars['photo']['updated_at'])) ?></p>
        </div>
    </div>
    <div data-control="toolbar">
        <div class="scoreboard-item title-value">
            <h4><?= trans('snipi.uniquemediafinder::lang.photo.dimensions') ?></h4>
            <p><?= $this->vars['photo']['width'] ?> x <?= $this->vars['photo']['height'] ?>px</p>
        </div>
        <div class="scoreboard-item title-value">
            <h4><?= trans('snipi.uniquemediafinder::lang.photo.download_photo') ?></h4>
            <a href="#" data-folder="<?= Settings::get('unsplash_upload_folder','unsplash') ?>" data-request-data="{qs: '<?= $this->vars['search'] ?>', folder: '<?= Settings::get('unsplash_upload_folder','unsplash') ?>',fileId:'<?= $this->vars['photo']['id']?>' ,path: '<?= $this->vars['photo']['links']['download_location'] ?>&client_id=<?= Settings::get('unsplash_api_key')'}" data-request-loading="#loader" data-request-error="handlePicError(this)" data-request-success="pictureDownloaded(this)" data-request="onDownloadPhoto" title="<?= trans('snipi.uniquemediafinder::lang.buttons.download') ?>" data-toggle="tooltip" class="btn btn-default"><i class="icon-download"></i> <span><?= trans('snipi.uniquemediafinder::lang.buttons.download') ?> <small>(fodler: <?= Settings::get('unsplash_upload_folder','unsplash') ?>)</small></span></a> 
        </div>
    </div>
</div>
<div class="control-tabs primary-tabs" data-control="tab">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#primaryTabOne"><?= trans('snipi.uniquemediafinder::lang.photo.description') ?></a></li>
        <li><a href="#primaryTabTwo"><?= trans('snipi.uniquemediafinder::lang.photo.support_author') ?></a></li>
        <?php
        if(!empty($this->vars['photo']['exif'])):
        ?>
        <li><a href="#primaryTabThree"><?= trans('snipi.uniquemediafinder::lang.photo.exif_information') ?></a></li>
        <?php
        endif;
        ?>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <p><?= $this->vars['photo']['description'] ?? trans('snipi.uniquemediafinder::lang.photo.no_description_provided') ?></p>   
        </div>
        <div class="tab-pane">
            <h5><?= trans('snipi.uniquemediafinder::lang.photo.support_author_title') ?></h5>
            <p><?= trans('snipi.uniquemediafinder::lang.photo.support_author_text') ?></p>
            <p class="oc-icon-share">
            Photo by <a href="<?= $this->vars['photo']['user']['links']['html'] ?>"><?= $this->vars['photo']['user']['username'] ?></a> on <a href="https://unsplash.com/s/photos/<?= $this->vars['search'] ?>?utm_source=OcUniqueMediaFinder&utm_medium=referral&utm_campaign=api-credit">Unsplash</a>
            </p>
            <textarea rows="5" class="form-control" id="support_html">Photo by <a href="<?= $this->vars['photo']['user']['links']['html'] ?>"><?= $this->vars['photo']['user']['username'] ?></a> on <a href="https://unsplash.com/s/photos/<?= $this->vars['search'] ?>?utm_source=OcUniqueMediaFinder&utm_medium=referral&utm_campaign=api-credit">Unsplash</a></textarea>
        </div>
        <?php
        if(!empty($this->vars['photo']['exif'])):
        ?>
        <div class="tab-pane">
            <?php
            if(!empty($this->vars['photo']['exif'])):
            ?>
            <div class="layout-row">
                <?php
                foreach($this->vars['photo']['exif'] as $key => $val):
                if(!empty($val)):
                ?>

                <p><strong><?= trans('snipi.uniquemediafinder::lang.exif.' . $key) ?>:</strong><br/><?= $val ?></p>
                <?php
                endif;
                endforeach;
                ?>
            </div>              
            <?php 
            endif;
            ?>
        </div>
        <?php
        endif;
        ?>
    </div>
    
</div>

			
