<div class="layout-row">
	<div class="layout">
		<div class="layout-cell p-l-md">
			<div data-control="balloon-selector" class="control-balloon-selector">
				<label class="control-label"><?= trans('snipi.uniquemediafinder::finder.filters.orientation_filter') ?></label>
			    <ul>
			        <li data-value="all" class="active"><?= trans('snipi.uniquemediafinder::finder.filters.orientation.all') ?></li>
			        <li data-value="square"><?= trans('snipi.uniquemediafinder::finder.filters.orientation.square') ?></li>
			        <li data-value="portrait"><?= trans('snipi.uniquemediafinder::finder.filters.orientation.portrait') ?></li>
			        <li data-value="landscape"><?= trans('snipi.uniquemediafinder::finder.filters.orientation.landscape') ?></li>
			    </ul>
			    <input type="hidden" name="orientation" value="all" />
			</div>
		</div>
		<div class="layout-cell">
			<div class="checkbox custom-checkbox">
			    <input name="content_filter" value="high" type="checkbox" id="content_filter" />
			    <label for="content_filter"><?= trans('snipi.uniquemediafinder::finder.filters.content_safety') ?></label>
			</div>
		</div>		
	</div>
</div>